fastapi
uvicorn[standard]
sqlalchemy>=2.0
psycopg2-binary
alembic
python-dotenv
pydantic
pydantic[email]
pytest
httpx
asyncpg
passlib>=1.7,<2.0
bcrypt<4.0.0
python-jose[cryptography]
python-multipart
